Body{

    Background-color: silver;
}
Header {
    Background-color: black;
    Height: 60px;
    Margin: 0 50px;
}
.logo{
    Height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 24px;
    line-height: 20px;
    float: left;
}
.cabecer{
    Background-color: RGB(100 0 255);
    Color: white;
    Font-family: cursive;
    Font-size: 18px;
    Margin-right: 1px;
    Margin-top: 10px;
    Padding: 5px 10px;
}
nav{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    line-height: 30px;
}
